/*!This is an attempt to transform the regular css into SCSS code for practice 
by applying the capabilities shown in the scss website, one by one
Be aware that even in comments you cant write the hash symbol...
  What I've applied so far:
  -comments : adding "!" in order to pass the  compile
  -Variables :Turned the RGB colors into variables
  -Nesting  :used at jjjjTableFrame h1  Note that you can use it also as margin{ bottom:value; top:value; }(mind the space)
  -partials and modules :passed colors into another file _colors.scss
  -Mixin : used to apply the same code in %nameOfCard% .jjjcardItemFront
  -extend/Inheritance : used in some ::hovers ( %colorAndRightOnHovers-shared) note the "%" and "extend"
  -operators: just a dummy math.div in #jjjjMiniGameMain that sets the width(demonstration only)
  -interpolation with @each  : used in  "backgroundProperties" ,uses "include", uses "hash{} to pass string as css code
  -the "if" statement : used in jjjjMiniGameIdentifier (with dummy variable for testing);
  -the css variables are parsed as they are except if they are used in interpolation (hash{});
      otherwise like you see in the example below (SomeConsumedVariableNoHash) it sees the variable($testingTheIf) as a String
  -Parent selectors : used in all the hovers to present it as somehow nested
  -Placeholder: adding &:hover in the placeholder % would cause the extended class to inherit the hover too(check  placeholderTest)
  -use of forward : used "useTheForward.scss" for it and I forwarded the main .scss(logically should be
    the other way around but for testing its ok );
  -functions : used in jjjShowMiniGame with a dummy function (just a sum)
  -to be continue with build in modules....
  */
 
@use './other/scss/colors';
@use './other/scss/basicPageCss';
@use "sass:math";
@forward "useTheForward.scss";
$percentageJustForDemonstration:200;
$testingTheIf:false;

#jjjjMiniGameIdentifier{
  overflow-x:hidden ;
  display:if($testingTheIf,none,block);
  --variableExample:#{$testingTheIf};
  --SomeConsumedVariableNoHash:$testingTheIf;//Does not see it as variable but rather as a string :" $testingTheIf "
}

#jjjjMiniGameMain{
  display:flex;
  position:relative;
  width: math.div($percentageJustForDemonstration,2) * 1%; //operator
  min-height:100vh;
  background-color:colors.$extremeLightYellow;
  transform-style: preserve-3d;
  background-image:url(images/Balasis/miniGame/qwer.jpeg);
  background-size:100% 100%;
}

.jjjPerspectIt{
  font-size:12px;
  display:flex;
  justify-content: center;
  margin-right:auto;
  margin-left:auto;
  align-self: flex-end;
  perspective: 15em;
  perspective-origin: 50% 100%;
  position:relative;
}

.jjjjcardItem{
  transition:0.5s linear;
  transform-style: preserve-3d;
  aspect-ratio: 3/4;
  min-width:12em ;
  margin: {
    left:1em;
    top:1em;
    right:1em;
    bottom:1em;
  }
  border-radius: 3px 3px 3px 3px;
  animation: {
    name:jjjhoverAnimation;
    iteration-count: infinite;
    duration:3s;
  }

  cursor:pointer;
  box-shadow:0px 10px 11px 5px rgba(0,0,0,0.8);
}

@keyframes jjjhoverAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

.jjjcardItemRotated{
  transform:rotateY(180deg);
  pointer-events: none;
}

.jjjcardItemRotatedRemoved{
  opacity:0;
}


#jjjjCardTimer{
  top:-7em;
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  height:10em;
  color:white;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items: flex-end;
  width:20em;
  border-radius: 10px 10px 0px 0px;
  border:0.5em solid colors.$darkBrown;
  background-color:black;
    &::before{
      content:"";
      position:absolute;
      top:-4em;
      bottom:-5em;
      left:-4em;
      right:-2em;
      background-image:url("images/Balasis/miniGame/tryThiss.png");
      background-repeat: no-repeat;
      background-size:100% 100%;
    }
}

#jjjjCardTimerText{
  color:white;
  font-size:5em;
}

%placeholderTest{
  background-color:colors.$lightOrange;
  border-radius: 10px 10px 10px 10px;
  padding:0.5em;
  cursor:pointer;
  margin-top:1em;
  &:hover{
    opacity:0.9;
  }
}

#jjjResetMiniGameTable{
  @extend %placeholderTest;  
}

#jjjjSTimeTable{
  text-align: center;
}

//Nested
#jjjjTableFrame {
  h1,h2,h3,h4,h5,h6 {
    color:colors.$lightOrange;
    text-align: center;
    margin:1em;
  }
}

#jjjjTableFrame{
  top:50%;
  left:50%;
  display:none;
  justify-content: center;
  align-items: center;
  position:absolute;
  flex-direction: column;
  transform: rotateX(5deg) translateZ(4.3em) translateX(-50%) translateY(-50%);
  color:white;
  font-size:2.5em;
}

#jjjjSTimeTable p{
  margin-bottom:0;
  margin-top:0.3em;
}


@mixin prefixInterpolation($prefixes,$property,$value){
@each $prefix in $prefixes {
  -#{$prefix}-#{$property}:$value;
}
#{$property}:$value;
}

.jjjjcardHolder{
  @include prefixInterpolation(moz webkit ms,user-select,none);
  @include prefixInterpolation(moz webkit ms,user-drag,none);  
  background-image: url("images/Balasis/miniGame/woody.jpg");
  background-size: 100% 100%;
  padding:1em;
  display:grid; 
  grid-template-columns:repeat(6,1fr);   
  align-items: center;
  justify-items: center;
  align-content: space-around;
  justify-content: space-around;
  transform-origin:50% 100%;
  transform:rotateX(5deg) translateZ(4.3em);
  transform-style: preserve-3d;
  transition:1s linear;
  position:relative;
  bottom:0;
  border-radius: 10px 10px 10px 10px;
  overflow:hidden;
  animation-duration:2s;
  animation-iteration-count: 1;
}

.jjjjcardHolderCorrect{
animation-name:jjjjcardHolderCorrect;
}
.jjjjcardHolderFalse{
  animation-name:jjjjcardHolderFalse;
}

@keyframes jjjjcardHolderCorrect{
  0%  { box-shadow:0px 0px 10px 4px transparent}
  50% { box-shadow:0px 0px 45px 14px colors.$lightGreen}
  100%{ box-shadow:0px 0px 10px 4px transparent}
}

@keyframes jjjjcardHolderFalse{
  0%  { box-shadow:0px 0px 10px 4px transparent}
  50% { box-shadow:0px 0px 45px 14px red}
  100%{ box-shadow:0px 0px 10px 4px transparent}
}

.jjjcardItemBack{
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  background: {
    image:url(images/Balasis/miniGame/logoNoBGHELP.png);
    repeat: no-repeat;
    position:center center;
    size:80% 80%;
  }
  border: 5px solid pink;
  backface-visibility: hidden;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  transform:rotateY(0deg);
}

.jjjjcardItem:hover .jjjcardItemBack{
    filter: brightness(120%); 
}

.jjjcardItemFront{
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  backface-visibility: hidden;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  transform-origin:center center;
  transform:rotateY(-180deg);
}

@function testingFunction($aNumber,$aSecondNumber){
  $sumResult:$aNumber+$aSecondNumber;
  @return $sumResult;
}

#jjjShowMiniGame{
  display:none;
  width:testingFunction(2,3)+"em";
  justify-content: flex-start;
  align-items: center;
  position:absolute;
  top:3.75em;
  right:-1.5em;
  font-size:3em;
  background-image:url("images/Balasis/miniGame/woody.jpg");
  color:white;
  padding:0.3em;
  padding-left:0.5em;
  border-radius: 0px 0px 0px 10px;
  cursor: pointer;
  transition:500ms linear;
}

//shareable to apply extend/inheritance
%colorAndRightOnHovers-shared {
  color:yellow;
  right:0em;
}

#jjjShowMiniGame:hover{
@extend %colorAndRightOnHovers-shared;
}

#jjjScoresMiniGame{
  display:flex;
  width:5em;
  justify-content: flex-start;
  align-items: center;
  position:absolute;
  top:3.75em;
  right:-1.5em;
  font-size:3em;
  background-image:url("images/Balasis/miniGame/woody.jpg");
  color:white;
  padding:0.3em;
  padding-left:0.5em;
  border-radius: 0px 0px 0px 10px;
  cursor: pointer;
  transition:500ms linear;
  z-index:10;

  &:hover{
    @extend %colorAndRightOnHovers-shared;
  }
}



#jjjResetMiniGame{
  display:flex;
  width:5em;
  justify-content: flex-start;
  align-items: center;
  position:absolute;
  top:2em;
  right:-1.5em;
  font-size:3em;
  background-image:url("images/Balasis/miniGame/woody.jpg");
  color:white;
  padding:0.3em;
  padding-left:0.5em;
  border-radius: 10px 0px 0px 0px;
  cursor: pointer;
  transition:500ms linear;
  &:hover{
    @extend %colorAndRightOnHovers-shared;
  }
}


//===========================================MIXIN 
@mixin backgroundProperties($url){
  background-image:url($url);
  background-repeat: no-repeat;
  background-size:100% 100%;
}


.Empusidae .jjjcardItemFront{
  @include backgroundProperties($url:"images/Balasis/miniGame/Empusidae.jpg");
}

.Mantidae .jjjcardItemFront{
  @include backgroundProperties($url:"images/Balasis/miniGame/Mantidae.jpg");
}

.Phyllocranidae .jjjcardItemFront{
  @include backgroundProperties($url:"images/Balasis/miniGame/Phyllocranidae.jpg");
}

.Beauty .jjjcardItemFront{
  @include backgroundProperties($url:"images/Balasis/miniGame/Beauty.jpg");
}

.AquaMantis .jjjcardItemFront{
  @include backgroundProperties($url:"images/Balasis/miniGame/AquaMantis.jpg");
}

.funnySayings .jjjcardItemFront{
  background-repeat: no-repeat;
  background-size:100% 100%;
}

@media screen and (min-width:165em){
  .jjjjcardItem{
    min-width:15.5em;
    margin-left:1em;
    margin-top:1em;
    margin-right:1em;
    margin-bottom:1em;      
  }

  #jjjjCardTimer{
    top:0em;
    height:8em;     
    width:20em;
    border:0.5em solid colors.$darkBrown;  
      & ::before{
        content:"";
        position:absolute;
        top:-3em;
        bottom:-5em;
        left:-4em;
        right:-2em;
      }
  }

  #jjjjCardTimerText{
    color:white;
    font-size:5em;
  } 
}

@media screen and (min-width:225em){

  .jjjjcardItem{
    min-width:20em;
    margin-left:2em;
    margin-top:2em;
    margin-right:2em;
    margin-bottom:2em;
    }  

  #jjjjCardTimer{
    top:10em;
    height:10em; 
    width:20em;
    border:0.5em solid colors.$darkBrown;
      &::before{
        content:"";
        position:absolute;
        top:-3em;
        bottom:-5em;
        left:-4em;
        right:-2em;
      }
  }
  
  #jjjjCardTimerText{
    color:white;
    font-size:5em;
  }

}

@media screen and (max-width:85em){

  .jjjjcardItem{      
    min-width:9.5em;
    margin-left:0.4em;
    margin-top:0.4em;
    margin-right:0.4em;
    margin-bottom:0.4em;
  }

  #jjjResetMiniGame{
    top:0em;
  }

  #jjjShowMiniGame{
    top:1.7em;
  }

  #jjjScoresMiniGame{
    top:1.7em;
  }

  .jjjPerspectIt{
    margin-top:21em;
  }

  #jjjjTableFrame{
    font-size:2.5em;
  }  

  #jjjjCardTimer{
    top:-8em;
    height:7em; 
    width:20em;
    border:0.5em solid colors.$darkBrown;
      &::before{
        content:"";
        position:absolute;
        top:-3em;
        bottom:-5em;
        left:-4em;
        right:-2em;
      }
  }

  #jjjjCardTimerText{
    color:white;
    font-size:5em;
  }

}

@media screen and (max-width:75em){

  .jjjjcardItem{
    min-width:6.5em;
    margin-left:0.3em;
    margin-top:0.3em;
    margin-right:0.3em;
    margin-bottom:0.3em;
  }

  .jjjPerspectIt{
    margin-top:21em;
  }

  #jjjjCardTimer{
    top:-10em;  
    height:8em;     
    width:20em;
    border:0.5em solid colors.$darkBrown;
      &::before{
        content:"";
          position:absolute;
          top:-3em;
          bottom:-5em;
          left:-4em;
          right:-2em;  
        }
  }

  #jjjjCardTimerText{
    color:white;
    font-size:5em;
  }

}

@media screen and (max-width:60em){

  .jjjjcardItem{
    min-width:7em;
    margin-left:0.4em;
    margin-top:0.4em;
    margin-right:0.4em;
    margin-bottom:0.4em;
  }

  .jjjPerspectIt{
    margin-top:21em;
  }

}

@media screen and (max-width:45em){

  .jjjjcardItem{
    min-width:6em;
    margin-left:0.4em;
    margin-top:0.4em;
    margin-right:0.4em;
    margin-bottom:0.4em;
  }

  .jjjjcardHolder{
    grid-template-columns:repeat(3,1fr); 
  }

  .jjjPerspectIt{
    margin-top:21em;
    font-size:10px;
  }

  #jjjjTableFrame{
    font-size:1.7em;
  }

  #jjjjCardTimer{
    top:-8em;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    height:10em;
      &::before{
        content:"";
        position:absolute;
        top:-4em;
        bottom:-5em;
        left:-2em;
        right:-1.9em;
        background-image:url("images/Balasis/miniGame/tryThiss.png");
        background-repeat: no-repeat;
        background-size:100% 100%;
      }  
  }
  
  #jjjjCardTimerText{
    color:white;
    font-size:5em;
  }

}