@use './colors';
html{
    height:100%;
    width:100%;
    overflow-x: hidden;
}

html,body{
padding:0;
margin:0;
}

body{
min-height:100%;
background-color:colors.$extremeLightYellow;
position: relative;
background-color:colors.$extremeLightYellow;
font-family: 'Montserrat';
overflow-x:hidden;
}