//used in the "table" that cards are on
$lightGreen:rgb(175, 200, 173);
//used in main div
$extremeLightYellow:rgb(242, 241, 235);
//Cards borders
$darkBrown:rgb(77, 47, 12);
//TableFrame
$lightOrange:rgb(237, 185, 67);


//Color fillers , not used yet

// The color of a peaceful ocean on a sunny day
$lightBlue: rgb(173, 216, 230);

// Reminiscent of a vibrant meadow in springtime
$mediumGreen: rgb(144, 238, 144);

// A warm and inviting shade like a cozy fireplace
$softRed: rgb(255, 99, 71);

// Evokes the sweetness of ripe strawberries
$pink: rgb(255, 192, 203);

// Like a rich cup of coffee on a chilly morning
$deepBrown: rgb(139, 69, 19);

// The color of a clear blue sky on a perfect day
$skyBlue: rgb(135, 206, 235);

// Radiant and cheerful, like a field of sunflowers
$goldenYellow: rgb(255, 215, 0);

// A soothing hue reminiscent of a calm evening sky
$lavender: rgb(230, 230, 250);

// Bold and striking, like a ripe cherry ready to be plucked
$crimson: rgb(220, 20, 60);

// Soft and serene, like a gentle breeze on a summer day
$powderBlue: rgb(176, 224, 230);

// Mysterious and intriguing, like the depths of a dark forest
$forestGreen: rgb(34, 139, 34);

// Elegant and sophisticated, like a glass of fine wine
$burgundy: rgb(128, 0, 32);

// Refreshing and revitalizing, like a juicy slice of watermelon
$melon: rgb(240, 128, 128);

// Bright and cheerful, like a burst of sunshine on a cloudy day
$marigold: rgb(255, 204, 0);

// The color of freshly fallen snow glistening in the moonlight
$snowWhite: rgb(255, 250, 250);

// Warm and inviting, like the glow of a crackling campfire
$tawny: rgb(205, 133, 63);

// Soft and delicate, like the petals of a peach blossom
$peach: rgb(255, 218, 185);

// Vibrant and lively, like a carnival in full swing
$carnivalRed: rgb(255, 36, 0);

// Cool and refreshing, like a dip in a crystal-clear lake
$teal: rgb(0, 128, 128);

// Bold and dramatic, like a stormy sky before the rain
$stormGray: rgb(112, 128, 144);